.App {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
}

input{
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(0, 6, 83);
  color: rgb(186, 252, 192);
}

form {
  font-size: 1.5rem;
  color: rgb(186, 252, 192);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  font-size: 2rem;
  color: rgb(186, 252, 192);
  text-align: center;
}

button {
  color: rgb(186, 252, 192);
  background-color: rgb(52, 53, 52);
  font-size: 2rem;
  height: 3rem;
  width: 100%;
}
ul {
  /* display: flex; */
  /* align-items: center; */
}
li {
  font-size: 1.5rem;
  color: rgb(186, 252, 192);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
